.MenuBurgerCont{
    height: 100%;
    width: 56px;
}

.MenuBurgerCont:hover{
    cursor: pointer;
}

.MenuBurgerCont div{
    height: 10%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    margin: 16% 0;
    border-radius: 5px;
}

@media (min-width: 500px){
    .MenuBurgerCont{
        display: none;
    }
}