.Spinner{
    text-align: center;
    margin: 0 auto;
	width: 100px;
    height: 100px;
    border: 16px solid peru;
    background: transparent;
    border-top: 16px solid sienna;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}
@keyframes spin{
	0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}