.Sidedrawer{
    width: 280px;
    max-width: 60%;
    height: 100%;
    background: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(0vw);
    transition: all 0.5s ease-out;
    z-index: 200;
}

.Sidedrawer.Hide{
    transform: translateX(-100vw);
}
